.calc-left-bottom
  padding 20px 20px 0
  background-color #F7F7F7
  height 100%

.term-invest
  margin-bottom 30px

.wrap-invest-period
  list-style none
  display flex
  justify-content space-between
  padding 0
  max-width 85%
  font-size 12px

.btn-period
  border 1px solid #cccccc
  border-radius 20px
  padding 4px 10px
  background-color #fff
  &:hover
    cursor pointer
    background-color #0093FF
    color #fff

.btn-period-active
  background-color #0093ff
  color #fff