@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic');

*
  box-sizing border-box

body
  font-family "Open Sans", sans-serif
  font-size 14px

#app
  max-width 960px
  margin 0 auto